.Footer{
    background-color:#fff;
    margin-top: 3rem !important;
    border-top:.1px solid #eee;
}

.Footer * {
    color: #222 !important;
}

.Footer .smile{
    font-size: 1rem;
    animation: exited 1.5s linear infinite;
    fill:green;
    margin-right: .5rem;
}


@media (min-width:767px){
    .Footer .left{
        padding-left: 2rem !important;
        border-left: 1px solid #ccc;
    }
}

@keyframes exited{
    
    0%{
        transform: rotateY(60deg);
    }
    100%{
        transform: rotateY(-20deg);
    }
}